{% extends "base.html.twig" %}

{% block subtitle %}Autorização de Pagamento{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('autorizacao_pagamento_autoriza') }}" title="Autorizar pagamento">Autorizar pagamento</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="table-campus">
                <thead>
                    <tr>
                        <th>Mês referência</th>
                        <th>Situação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for folha in folhas %}
                        <tr>
                            <td>{{ folha.folhaPagamento.referenciaExtenso|capitalize }}</td>
                            <td>{{ folha.situacao.dsSituacaoProjetoFolha }} {{ folha.folhaPagamento.nuOrdemBancaria }}</td>
                            <td>
                                <a href="{{ path('autorizacao_pagamento_get', {projetoFolha: folha.coSeqProjFolhaPagam}) }}">
                                    <span class="glyphicon glyphicon-eye-open" title="Visualizar"></span>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="folha-placeholder">
                            <td colspan="5">Nenhuma folha de pagamento cadastrada</td>
                        </tr>
                    {% endfor %}                            
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}