{% extends "base.html.twig" %}

{% block subtitle %}
    Consultar Campus
{% endblock %}

{% block body %}
    <div class="container-fluid">
    {{ form_start(form, {'method': 'get', attr: {'novalidate': 'novalidate'}}) }}
        <div class="col-12">
            {{ form_row(form.noCampus, {value: queryParams.noCampus}) }}
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        <a href="{{ path('campus_create') }}" class="btn btn-primary">Cadastrar</a>
    {{ form_end(form) }}
    </div>

    <hr>
    {% if pagination.count() > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Campus</th>
                <th>Instituição</th>
                <th>UF</th>
                <th>Município</th>
                <th>Ativo</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            {% for b in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ b.getNoCampus() }}</td>
                    <td>{{ b.getInstituicao().getNoInstituicaoProjeto() }}</td>
                    <td>{{ b.getInstituicao().getMunicipio().getCoUfIbge().getSgUf() }}</td>
                    <td>{{ b.getInstituicao().getMunicipio().getNoMunicipioAcentuado() }}</td>
                    <td>
                        {% if b.getStRegistroAtivo() == 'S' %}
                            Ativo
                        {% else %}
                            Inativo
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('campus_atualizar', {campusInstituicao: b.getCoSeqCampusInstituicao()}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% if b.stRegistroAtivo == 'S' %}
                            <a data-id="{{ b.getCoSeqCampusInstituicao() }}" data-ativo="{{ b.getStRegistroAtivo() }}"
                               data-nome="{{ b.getNoCampus() }}" data-codigo=""
                               class="glyphicon glyphicon-eye-close btn-activate-campus"
                               style="margin-left: 8px;color:red; cursor: pointer" title="Desativar Registro"></a>
                        {% else %}
                            <a data-id="{{ b.getCoSeqCampusInstituicao() }}" data-ativo="{{ b.getStRegistroAtivo() }}"
                               data-nome="{{ b.getNoCampus() }}" data-codigo=""
                               class="glyphicon glyphicon-eye-open btn-activate-campus" style="margin-left: 8px; ; cursor: pointer"
                               title="Ativar Registro"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% elseif pagination is not null %}
        Nenhum resultado encontrado.
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/campus/index.js') }}"></script>
{% endblock %}