{% extends "base.html.twig" %}

{% block subtitle %}FOLHA DE PAGAMENTO - {{ projetoFolha.folhaPagamento.getReferenciaExtenso()|upper }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">CPF</th>
                    <th class="text-center">Nome do Participante</th>
                    <th class="text-center">Perfil</th>
                    <th class="text-center">Valor da Bolsa</th>
                </tr>
                </thead>
                <tbody>
                {% for autorizacao in projetoFolha.autorizacoesAtivas %}
                    <tr>
                        <td class="text-center">{{ autorizacao.projetoPessoa.pessoaPerfil.pessoaFisica.nuCpf|cpf }}</td>
                        <td>{{ autorizacao.projetoPessoa.pessoaPerfil.pessoaFisica.pessoa.noPessoa }}</td>
                        <td class="text-center">{{ autorizacao.projetoPessoa.pessoaPerfil.perfil.dsPerfil }}</td>
                        <td class="text-right">
                            R$ {{ autorizacao.projetoPessoa.getVlBolsa()|number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if projetoFolha.dsJustificativa %}
                <p><strong>Relatório Mensal de Atividades: </strong>{{ projetoFolha.dsJustificativa }}
            {% endif %}
            
            
            <div class="text-justify text-info">
                <input type="checkbox" name="stDeclaracao" value="S" checked="checked" disabled="true"> 
                Eu, {{ app.user.getPessoaFisica().getPessoa().getNoPessoa() }}, Coordenador do Projeto {{ projetoFolha.projeto.getNuSipar() ~ ' - ' ~ projeto.getPublicacao().getDescricaoCompleta() }}, atesto que os bolsistas acima relacionados desenvolveram as atividades previstas no projeto PET-INFOSD em {{ projetoFolha.folhaPagamento.getReferenciaExtenso()|upper }},  e declaro para os devidos fins, que estou de acordo com as normativas do Programa de Educação pelo Trabalho para a Saúde (PET-INFOSD)  e ciente da responsabilidade pela autorização de pagamento dos participantes selecionados na lista apresentada, pela prestação de contas e por eventuais divergências.
            </div>
        </div>
    </div>
    <a href="{{ path('autorizacao_pagamento') }}" class="btn btn-default" title="Voltar">Voltar</a>
    <a href="#"
       onclick="var print = window.open('{{ path('autorizacao_pagamento_print', { projetoFolhaPagamento : projetoFolha.getCoSeqProjFolhaPagam() }) }}', '', 'width=1024,height=600'); print.focus();"
       class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> Imprimir</a>
{% endblock %}
