{% extends "base.html.twig" %}

{% block subtitle %}
    {% if edit %}Editar{% else %}Cadastrar{% endif %} Curso de Formação
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="col-12">
        <div class="col">
            {{ form_row(form.dsTipoAreaTematica) }}
        </div>
        <div class="col">
            {{ form_row(form.tpAreaFormacao) }}
        </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{{ path('curso_formacao') }}" class="btn btn-default">Voltar</a>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/area_formacao/create.js') }}"></script>
{% endblock %}