{% extends "base.html.twig" %}

{% block subtitle %}
    Consulta Formulários de Atividades
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.formularioAvaliacaoAtividade) }}
        {{ form_row(form.tpTramiteFormulario) }}
        
        <div class="form-group {{ form.tpTramiteFormulario.vars.value == 'R' ? 'hidden' : null }}">            
            {{ form_row(form.stFinalizado) }}            
        </div>
        <div class="form-group tramite-retorno {{ form.tpTramiteFormulario.vars.value == 'E' ? 'hidden' : null }}">
            {{ form_label(form.situacaoTramiteFormulario) }}
            {{ form_widget(form.situacaoTramiteFormulario) }}
            {{ form_errors(form.situacaoTramiteFormulario) }}
        </div>        
        <div class="form-group tramite-retorno {{ form.tpTramiteFormulario.vars.value == 'E' ? 'hidden' : null }}">        
            {{ form_label(form.perfil) }}
            {{ form_widget(form.perfil) }}
            {{ form_errors(form.perfil) }}
        </div>
        <div class="form-group tramite-retorno {{ form.tpTramiteFormulario.vars.value == 'E' ? 'hidden' : null }}">        
            {{ form_label(form.publicacao) }}
            {{ form_widget(form.publicacao) }}
            {{ form_errors(form.publicacao) }}
        </div>
        <div class="form-group tramite-retorno {{ form.tpTramiteFormulario.vars.value == 'E' ? 'hidden' : null }}">        
            {{ form_label(form.nuSipar) }}
            {{ form_widget(form.nuSipar) }}
            {{ form_errors(form.nuSipar) }}
        </div>
        
        <div class="form-group tramite-retorno {{ form.tpTramiteFormulario.vars.value == 'E' ? 'hidden' : null }}">
            {{ form_label(form.noPessoa) }}
            {{ form_widget(form.noPessoa) }}
            {{ form_errors(form.noPessoa) }}
        </div>
        <div class="form-group tramite-retorno {{ form.tpTramiteFormulario.vars.value == 'E' ? 'hidden' : null }}">
            {{ form_label(form.nuCpf) }}
            {{ form_widget(form.nuCpf) }}
            {{ form_errors(form.nuCpf) }}
        </div>
        
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        <a href="{{ path('tramita_formulario_atividade_create') }}" class="btn btn-primary">Novo Formulário</a>
    {{ form_end(form) }}
    
    {% if paginationEnvios is not null and paginationEnvios.count() > 0 %}
    <hr>
    
    <table class="table table-striped">
    <tr>
    {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(paginationEnvios, '#', 'CO_SEQ_ENVIO_FORM_AVAL_ATIVID') }}</th>
        <th>{{ knp_pagination_sortable(paginationEnvios, 'Título', 'NO_FORMULARIO') }}</th>
        <th>{{ knp_pagination_sortable(paginationEnvios, 'Data de Envio', 'CO_SEQ_ENVIO_FORM_AVAL_ATIVID') }}</th>
        <th>{{ knp_pagination_sortable(paginationEnvios, 'Período de Validade', 'DT_INICIO_PERIODO') }}</th>
        <th>{{ knp_pagination_sortable(paginationEnvios, 'Perfil Responsável', 'PERFIS') }}</th>
        <th>{{ knp_pagination_sortable(paginationEnvios, 'Situação', 'ST_FINALIZADO') }}</th>
        <th>Qtde. Envio</th>
        <th>Qtde. Satisfatório</th>
        <th>Qtde. Pendentes</th>
        <th>Ação</th>
    </tr>

    {# table body #}
    {% for row in paginationEnvios %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td>{{ row.CO_SEQ_ENVIO_FORM_AVAL_ATIVID }}</td>
        <td>
            {{ row.NO_FORMULARIO }} 
            <div class="pull-right">
                {% if row.NO_ARQUIVO_FORMULARIO %}
                    <a href="{{ asset('uploads/' ~ row.NO_ARQUIVO_FORMULARIO) }}" target="_blank" class="glyphicon glyphicon-save"></a>
                {% endif %}
                {% if row.DS_URL_FORMULARIO %}
                    <a href="{{ row.DS_URL_FORMULARIO }}" target="_blank" class="glyphicon glyphicon-circle-arrow-right"></a>
                {% endif %}
            </div>
        </td>
        <td>{{ row.DT_INCLUSAO|date('d/m/Y') }}</td>
        <td>{{ row.DT_INICIO_PERIODO|date('d/m/Y') }} a {{ row.DT_FIM_PERIODO|date('d/m/Y') }}</td>
        <td>{{ row.PERFIS }}</td>
        <td class="{{ row.ST_FINALIZADO == 'S' ? null : 'text-danger' }}">{{ row.ST_FINALIZADO == 'S' ? 'Finalizado' : 'Com Pendência' }}</td>
        <td style="text-align: center;">
            {{ row.QT_ENVIO }}            
            <a href="{{ path('tramita_formulario_atividade_list_tramitacoes', { id : row.CO_SEQ_ENVIO_FORM_AVAL_ATIVID, tipo : 'enviados' }) }}" class="cursor-pointer glyphicon glyphicon-eye-open"></a>            
        </td>
        <td style="text-align: center;">
            {{ row.QT_FINALIZADOS }}
            {% if row.QT_FINALIZADOS > 0 %}            
                <a href="{{ path('tramita_formulario_atividade_list_tramitacoes', { id : row.CO_SEQ_ENVIO_FORM_AVAL_ATIVID, tipo : 'finalizados' }) }}" class="cursor-pointer glyphicon glyphicon-eye-open"></a>            
            {% endif %}
        </td>
        <td style="text-align: center;" class="{{ row.QT_PENDENTES > 0 ? 'text-danger' : null }}">
            {% if row.QT_PENDENTES > 0 %}
                {{ row.QT_PENDENTES }}            
                <a href="{{ path('tramita_formulario_atividade_list_tramitacoes', { id : row.CO_SEQ_ENVIO_FORM_AVAL_ATIVID, tipo : 'pendentes' }) }}" class="cursor-pointer glyphicon glyphicon-eye-open"></a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if row.ST_FINALIZADO == 'N' and (row.DT_FIM_PERIODO|date('Ymd') > date()|date('Ymd') or date()|date('Ymd') - row.DT_FIM_PERIODO|date('Ymd') <= 10 ) %}
                <a href="{{ path('tramita_formulario_atividade_edit', { id : row.CO_SEQ_ENVIO_FORM_AVAL_ATIVID }) }}" class="glyphicon glyphicon-edit" title="Editar registro"></a>
            {% endif %}
            {% if row.QT_N_PENDENTES == 0 %}
                <a class="glyphicon glyphicon-trash cursor-pointer btn-delete-envio" data-id="{{ row.CO_SEQ_ENVIO_FORM_AVAL_ATIVID }}" title="Excluir registro"></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(paginationEnvios) }}
    </div>
    {% elseif paginationEnvios is not null and paginationEnvios.count() == 0 %}
        <hr>
        Nenhum registro encontrado.
    {% endif %}
    
    {% if paginationRetornos is not null and paginationRetornos.count() > 0 %}
    <hr>
    
    <table class="table table-striped">
    <tr>
    {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(paginationRetornos, '#', 'tf.coSeqTramitacaoFormulario') }}</th>
        <th>{{ knp_pagination_sortable(paginationRetornos, 'Título', 'faa.noFormulario') }}</th>
        <th>{{ knp_pagination_sortable(paginationRetornos, 'Data de Envio', 'tf.dtInclusao') }}</th>
        <th>{{ knp_pagination_sortable(paginationRetornos, 'Participante', 'p.noPessoa') }}</th>
        <th>{{ knp_pagination_sortable(paginationRetornos, 'Perfil', 'perf.dsPerfil') }}</th>
        <th>{{ knp_pagination_sortable(paginationRetornos, 'SIPAR', 'proj.nuSipar') }}</th>
        <th>{{ knp_pagination_sortable(paginationRetornos, 'Situação', 'stf.noSituacaoTramiteFormulario') }}</th>        
        <th style="text-align: center;">Ação</th>
    </tr>

    {# table body #}
    {% for row in paginationRetornos %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td>{{ row.getCoSeqTramitacaoFormulario() }}</td>
        <td>
            {{ row.getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getNoFormulario() }} 
            <div class="pull-right">
                <a href="{{ asset('uploads/' ~ row.getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getNoArquivoFormulario()) }}" target="_blank" title="Download do formulário anexado" class="glyphicon glyphicon-save"></a>
                {% if row.getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getDsUrlFormulario() %}
                    <a href="{{ row.getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getDsUrlFormulario() }}" target="_blank" title="Acessar o formulário no FormSUS." class="glyphicon glyphicon-circle-arrow-right"></a>
                {% endif %}
            </div>
        </td>
        <td>{{ row.getDtInclusao()|date('d/m/Y') }}</td>
        <td>{{ row.getProjetoPessoa().getPessoaPerfil().getPessoaFisica().getNuCpf() ~ ' ' ~ row.getProjetoPessoa().getPessoaPerfil().getPessoaFisica().getPessoa().getNoPessoa() }}</td>
        <td>{{ row.getProjetoPessoa().getPessoaPerfil().getPerfil().getDsPerfil() }}</td>
        <td>{{ row.getProjetoPessoa().getProjeto().getNuSipar() }}</td>
        <td class="{{ row.getSituacaoTramiteFormulario().getCssClass() }}">{{ row.getSituacaoTramiteFormulario().getNoSituacaoTramiteFormulario() }}</td>        
        <td style="text-align: center;">          
            {% if row.getSituacaoTramiteFormulario().isAguardandoAnalise() %}
                <a href="{{ path('tramita_formulario_atividade_analisa', { id : row.getCoSeqTramitacaoFormulario()  }) }}" class="glyphicon glyphicon-edit" title="Analisar o formulário de retorno preenchido pelo participante"></a>
            {% endif %}
            {% if not row.getSituacaoTramiteFormulario().isPendente() %}
                <a class="glyphicon glyphicon-list-alt cursor-pointer btn-historico" title="Histórico de tramitação do formulário" data-id="{{ row.getCoSeqTramitacaoFormulario() }}"></a>
                {% if row.getNoArquivoRetornoFormulario() %}
                    <a href="{{ asset('uploads/' ~ row.getNoArquivoRetornoFormulario()) }}" class="glyphicon glyphicon-save" title="Download do formulário anexado"></a>
                {% endif %}
            {% else %}
                <a class="glyphicon glyphicon-trash cursor-pointer btn-delete-tramitacao" data-id="{{ row.getCoSeqTramitacaoFormulario() }}" title="Excluir registro"></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(paginationRetornos) }}
    </div>        
    {% elseif paginationRetornos is not null and paginationRetornos.count() == 0 %}
        <hr>
        Nenhum registro encontrado.
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tramita_formulario_atividade/index.js') }}"></script>
{% endblock %}