{% extends 'base.html.twig' %}

{% block subtitle %}Homologar Folha de Pagamento - {{ folha.referenciaExtenso|capitalize }} - {{ folha.publicacao.descricaoCompleta }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Parecer</th>
                            <th>SEI</th>
                            <th>Qtd. de Bolsistas</th>
                            <th>Valor</th>
                            <th>Relatório Mensal de Atividades</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projetoFolha in folha.projetosFolhaPagamentoAtivos if (projetoFolha.isAutorizada) %}
                            <tr>
                                <td>
                                    <input type="radio" name="projetoFolha[{{ projetoFolha.coSeqProjFolhaPagam }}]" value="S"/> Sim
                                    <input type="radio" name="projetoFolha[{{ projetoFolha.coSeqProjFolhaPagam }}]" value="N"/> Não
                                </td>
                                <td>{{ projetoFolha.projeto.nuSipar }}</td>
                                <td>{{ projetoFolha.autorizacoesAtivas.count }}</td>
                                <td>R$ {{ projetoFolha.valorTotal|number_format(2, ',', '.') }}</td>
                                <td><a class="glyphicon glyphicon-list-alt btn-relatorio-mensal" style="cursor: pointer;" title="Clique aqui para visualizar o relatório mensal de atividades registrado pelo Coordenador do Projeto na autorização da Folha de Pagamento." data="{{ projetoFolha.dsJustificativa|undefined }}"></a></td>
                                <td>
                                    <a href="{{ path('folha_pagamento_homologar_visualizar_projeto_folha', { projetoFolha: projetoFolha.coSeqProjFolhaPagam }) }}" target="_blank" title="Visualizar folha"><span class="glyphicon glyphicon-eye-open"></span></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Nenhuma folha de pagamento cadastrada.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-default" href="{{ path('folha_pagamento') }}" title="Voltar">Voltar</a>
                <input class="btn btn-primary" type="submit" value="Salvar"/>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/folha_pagamento/homologar.js') }}"></script>
{% endblock %}
