{% extends "base.html.twig" %}

{% block subtitle %}
    Relatório do Arquivo de Retorno de Cadastro
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a class="btn btn-primary" id="btn-consulta-retorno">Gerar</a>
        <a href="{{ path('arquivo_retorno_cadastro') }}" class="btn btn-default">Voltar</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/arquivo_retorno_cadastro/report.js') }}"></script>
{% endblock %}