{% extends 'base.html.twig' %}

{% block subtitle %}Atualizar Participante{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'method': 'post', 'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'} }) }}
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#dados-pessoais" data-toggle="tab">Dados Pessoais</a></li>
                <li><a href="#dados-de-contato" data-toggle="tab">Dados de Contato</a></li>
                <li><a href="#dados-complementares" data-toggle="tab">Dados Complementares</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dados-pessoais">
                    {{ form_row(form.nuSei) }}
                    {{ form_row(form.perfil) }}
                    {% if projetoPessoa.getProjeto() and projetoPessoa.getProjeto().getPublicacao().getPrograma().isAreaAtuacao()  %}
                        {{ form_row(form.stVoluntarioProjeto) }}
                    {% endif %}
                    {{ form_row(form.dtInclusao) }}
                    {{ form_row(form.dtDesligamento) }}
                    {{ form_row(form.nuCpf, {'attr' : {'class': 'nuCpf'}}) }}
                    {{ form_row(form.noPessoa) }}
                    {{ form_row(form.sexo) }}
                    {{ form_row(form.noMae) }}
                    {{ form_row(form.coBanco) }}
                    {{ form_row(form.coAgenciaBancaria) }}
                    {{ form_row(form.coConta) }}
                    <br/>
                    <a href="{{ path('participante') }}" class="btn btn-default">Voltar</a>
                    <a class="btn btn-primary" href="javascript:;" id="btn-salvar-pessoais">Salvar</a>
                </div>
                <div class="tab-pane" id="dados-de-contato">
                    {{ form_start(formTelefone, {'method': 'get'}) }}
                        {{ form_row(formTelefone.tpTelefone) }}
                        {{ form_row(formTelefone.nuDdd) }}
                        {{ form_row(formTelefone.nuTelefone) }}
                        <a href="javascript:;" id="btn-incluir-telefone" class="btn btn-primary">Incluir Telefone</a>
                    <br>
                    <br>
                    <span id="helpBlock" class="help-block">Todas informações serão salvas após a conclusão do cadastro.</span>
                    <table class="table table-striped" id="table-telefones">
                        <thead>
                            <tr>
                                <th>DDD</th>
                                <th>Telefone</th>
                                <th>Tipo Telefone</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set telefonesSubmited = form.vars.data.telefones %}
                            {% set telefonesAtivos = projetoPessoa.pessoaPerfil.pessoaFisica.pessoa.getTelefonesAtivos() %}
                            <tr class="telefones-placeholder
                                {% if telefonesAtivos|length > 0 or telefonesSubmited.tpTelefone is defined %}    
                                    hide
                                {% endif %}
                            ">
                                <td colspan="4">Nenhum telefone encontrado</td>
                            </tr>
                            {% for telefone in telefonesAtivos if telefonesSubmited.tpTelefone is not defined %}
                            <tr>
                                <input type="hidden" name="atualizar_participante[telefones][tpTelefone][]" value="{{ telefone.tpTelefone }}" />
                                <input type="hidden" name="atualizar_participante[telefones][nuDdd][]" value="{{ telefone.nuDdd }}" />
                                <input type="hidden" name="atualizar_participante[telefones][nuTelefone][]" value="{{ telefone.nuTelefone }}" />
                                <td>{{ telefone.nuDdd }}</td>
                                <td>{{ telefone.nuTelefone }}</td>
                                <td>{{ telefone.tpTelefone|tpTelefone }}</td>
                                <td>
                                    <a href="javascript:;" class="btn-excluir-telefone">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                                {% for telefones in telefonesSubmited.tpTelefone if telefonesSubmited.tpTelefone is defined %}
                                <tr>
                                    <input type="hidden" name="atualizar_participante[telefones][tpTelefone][]" value="{{ telefonesSubmited.tpTelefone[loop.index0] }}" />
                                    <input type="hidden" name="atualizar_participante[telefones][nuDdd][]" value="{{ telefonesSubmited.nuDdd[loop.index0] }}" />
                                    <input type="hidden" name="atualizar_participante[telefones][nuTelefone][]" value="{{ telefonesSubmited.nuTelefone[loop.index0] }}" />
                                    <td>{{ telefonesSubmited.nuDdd[loop.index0] }}</td>
                                    <td>{{ telefonesSubmited.nuTelefone[loop.index0] }}</td>
                                    <td>{{ telefonesSubmited.tpTelefone[loop.index0]|tpTelefone }}</td>
                                    <td>
                                        <a href="javascript:;" class="btn-excluir-telefone">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ form_end(formTelefone) }}
                    <br/>
                    <br/>
                    {{ form_row(form.dsEnderecoWeb) }}
                    {{ form_row(form.coCep) }}
                    {{ form_row(form.noLogradouro) }}
                    {{ form_row(form.nuLogradouro) }}
                    {{ form_row(form.dsComplemento) }}
                    {{ form_row(form.noBairro) }}
                    {{ form_row(form.coUf) }}
                    {{ form_row(form.coMunicipioIbge) }}
                    <br/>
                    <a class="btn btn-primary" href="javascript:;" id="btn-salvar-contato">Salvar</a>
                </div>
                <div class="tab-pane" id="dados-complementares">
                    {% if projetoPessoa.getProjeto() and projetoPessoa.getProjeto().getPublicacao().getPrograma().isGrupoTutorial() %}
                        {{ form_row(form.stVoluntarioProjeto) }}
                        {{ form_row(form.stAlunoRegular) }}
                        {{ form_row(form.grupoTutorial) }}
                        {{ form_row(form.coEixoAtuacao) }}
                        {{ form_row(form.stDeclaracaoCursoPenultimo) }}
                    {% endif %}
                    {{ form_row(form.categoriaProfissional) }}
                    {{ form_row(form.coCnes) }}
                    {{ form_row(form.titulacao) }}
                    {{ form_row(form.cursoGraduacao) }}
                    {{ form_row(form.nuAnoIngresso) }}
                    {{ form_row(form.nuMatriculaIES) }}
                    {{ form_row(form.nuSemestreAtual) }}
                    {% if projetoPessoa.getProjeto() and projetoPessoa.getProjeto().getPublicacao().getPrograma().isAreaAtuacao() %}
                        {{ form_row(form.cursosLecionados) }}
                    {% endif %}
                    <br/>
                    {{ form_label(form.areaTematica) }}
                    <div>
                        <small>Para selecionar mais de uma área pressionar a tecla Ctrl e marcar as áreas desejadas</small>
                    </div>
                    <div class="form-error">
                        {{ form_errors(form.areaTematica) }}
                    </div>
                    {{ form_widget(form.areaTematica) }}
                <br/>
                    <input type="hidden" name="salvar-participante" id="salvar-participante" value="edit">
                <a class="btn btn-primary" href="javascript:;" id="btn-salvar-complementares">Salvar</a>
                </div>
            </div>
            {{ form_end(form) }}
            <input type="hidden" id="projetoAreaAtuacao" value="{{ projetoPessoa.getProjeto().getPublicacao().getPrograma().isAreaAtuacao() ? 1 : 0 }}">
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts 'js/participante/participante.js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}    
{% endblock %}
