{% extends "base.html.twig" %}

{% block subtitle %}
    {% if edit %}Editar{% else %}Cadastrar{% endif %} Campus
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="col-12">
        <div class="col">
            {{ form_row(form.uf) }}
        </div>
        <div class="col">
            {{ form_row(form.municipio) }}
        </div>
        <div class="col">
            {{ form_row(form.instituicao) }}
        </div>
        <div class="col">
            {{ form_row(form.noCampus) }}
        </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{{ path('campus') }}" class="btn btn-default">Voltar</a>
    </div>
    {{ form_end(form) }}

        <div id="municipioIbge" style="display: none">{{ ibge }}</div>
        <div id="instituicaoCod" style="display: none">{{ instituicaoCod }}</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/campus/create.js') }}"></script>
{% endblock %}