{% extends "::base.html.twig" %}

{% block subtitle %}
    Recepcionar novo arquivo de Retorno de Pagamento
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button class="btn btn-primary" type="submit">Processar</button>
        <a href="{{ path('arquivo_retorno_pagamento') }}" class="btn btn-default">Voltar</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/arquivo_retorno_pagamento/recepcionar-arquivo-retorno.js') }}"></script>
{% endblock %}