<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }
    thead { display: table-header-group }
    tfoot { display: table-row-group }
    tr { page-break-inside: avoid }
</style>
{% if formatRelatorio != 'pdf' %}
<div style="text-align: center">
    <h3>SIGPET - {{ report.programa }}</h3>
    <h3>Retorno de Remessa de Pagamento do Banco do Brasil</h3>
    <h4>{{ tpRelatorio }}</h4>
</div>
{% endif %}
<hr>

<table style="margin-bottom: 20px;">
    <tr>
        <td><strong>Referência da Folha de Pagamento</strong></td>
        <td>{{ report.referencia }}</td>
    </tr>
    <tr>
        <td><strong>Data de recepção pelo SIGPET</strong></td>
        <td>{{ report.dtRecepcao|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <td><strong>Nome do arquivo de retorno</strong></td>
        <td>{{ report.noArquivoOriginal }}</td>
    </tr>
    <tr>
        <td><strong>Número do Lote</strong></td>
        <td>{{ report.nuLote }}</td>
    </tr>    
</table>        

    
{% for sitcmd,group in report.groups %}
    <div {{ loop.index != 1 ? 'style="margin-top: 30px;"' : '' }}>
        Situação do Crédito:<strong> {{ sitcmd }} - {{ sitcmd|sitcmd }}</strong>
    </div>
    
    <table style="margin-top: 20px; width:100%; border-collapse: collapse;">
        <tr style="border-bottom: 1px solid #000;">
            <th style="width: 35%;">Beneficiário</th>
            <th style="width: 10%;">CPF</th>
            <th style="width: 10%;">Valor</th>
            <th style="width: 15%;">Validade do crédito</th>
            <th style="width: 10%;">Conta</th>
            <th style="width: 10%;">Agência</th>
            <th style="width: 10%;">Posição no Arquivo</th>
        </tr>
        {% set vlTotalSituacao = 0 %}
        {% for detalhe in group %}
            <tr>
                <td>{{ detalhe.autorizacaoFolha.projetoPessoa.pessoaPerfil.pessoaFisica.pessoa.noPessoa }}</td>
                <td style="text-align: center;">{{ detalhe.autorizacaoFolha.projetoPessoa.pessoaPerfil.pessoaFisica.nuCpf|cpf }}</td>
                <td style="text-align: center;">{{ detalhe.vlCredito|float|number_format(2, ',', '.') }}</td>
                <td style="text-align: center;">{{ detalhe.dtInicioValidade|date('d/m/Y') ~ ' a ' ~ detalhe.dtFimValidade|date('d/m/Y') }}</td>
                <td style="text-align: center;">{{ detalhe.nuConta }}</td>
                <td style="text-align: center;">{{ detalhe.nuIdOrgaoPagador }}</td>
                <td style="text-align: center;">{{ detalhe.nuRegistroArquivoRetorno|int }}</td>
            </tr>
            {% set vlTotalSituacao = vlTotalSituacao + detalhe.vlCredito|float %}
        {% endfor %}
    </table>
        
    <hr>
    
    <table style="width:100%;">
        <tr>
            <td style="width: 25%;"><strong>Quantidade de participantes da situação</strong></td>
            <td>{{ group|length }}</td>
        </tr>
        <tr>
            <td style="width: 25%;"><strong>Valor de créditos da situação</strong></td>
            <td>{{ vlTotalSituacao|number_format(2, ',', '.') }}</td>
        </tr>
    </table>
{% endfor %}        

<hr>

<table style="margin-top: 20px; width:100%;">
    <tr>
        <td style="width: 25%;"><strong>Quantidade Total de participantes</strong></td>
        <td>{{ report.qtTotalParticipante|int }}</td>
    </tr>
    <tr>
        <td style="width: 25%;"><strong>Valor Total de Créditos</strong></td>
        <td>{{ report.vlTotalPago|float|number_format(2, ',', '.') }}</td>
    </tr>
</table>

{% if formatRelatorio != 'pdf' %}
<hr>

<table>
    <tr>
        <td>Relatório emitido em {{ date()|date('d/m/Y H:i:s') }}</td>        
    </tr>
    <tr>
        <td>Responsável: {{ app.user.username }}</td>        
    </tr>
</table> 
{% endif %}