{% extends 'base.html.twig' %}

{% block subtitle %}Abrir Folha de Pagamento{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'method': 'post', 'attr': {'novalidate': 'novalidate'} }) }}
                {{ form_row(form.publicacao) }}
                {{ form_row(form.nuMes, {'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }} <span style="display: none;">{{ year }}</span>'}) }}
                {{ form_row(form.nuAno, {'date_pattern': '<span style="display: none;">{{ day }} {{ month }} </span> {{ year }} '}) }}
                <a href="{{ path('folha_pagamento') }}" class="btn btn-default">Voltar</a>
                <input type="submit" class="btn btn-primary" value="Salvar">
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}