<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}SIGPET{% endblock %}</title>
        {% stylesheets
            'vendor/bootstrap/css/bootstrap.min.css'
            'vendor/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css'
            'css/sigpet.css'
            'css/helper.css'
            'css/bootstrap_custom.css'
            filter='cssrewrite'
        %}

        <link rel="shortcut icon" href="{{ asset('images') }}/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ asset('/images') }}/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="loader hidden"></div>
        <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
            <ul id="menu-barra-temp" style="list-style:none;">
                <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
                <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
            </ul>
        </div>
        <header>
            <div class="container-fluid sigpet-header">
                <div class="row">
                    <div class="col-md-8 sigpet-header-brand">
                        <a href="{{ path('default_index') }}" style="text-decoration:none;color:#FFF;">SIGPET</a>
                    </div>
                    <div class="col-md-4">
                        {{ render(controller('AppBundle:Default:cabecalho')) }}
                    </div>
                </div>
                <div class="row">    
                    <hr class="sigpet-header-hr">
                    <nav class="sigpet-menu">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ knp_menu_render('AppBundle:Builder:mainMenu', {'template': '/menu/sigpet_menu.html.twig'}) }}
                            {{ knp_menu_render('AppBundle:Builder:menu', {'template': '/menu/sigpet_menu.html.twig'}) }}
                        {% else %}
                            {{ knp_menu_render('AppBundle:Builder:menuExterno', {'template': '/menu/sigpet_menu.html.twig'}) }}
                        {% endif %}
                    </nav>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% for key, flashMessageType in app.session.flashbag.all() %}
                        {% set flashClass = 'alert-' ~ key %}
                        {% for flashMessage in flashMessageType %}
                            <div class="alert {{ flashClass }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flashMessage|replace({"Bad credentials": "Não foi possível efetuar a autenticação no sistema. Favor verificar os dados de login fornecidos."})|replace({'\\n' : '<br/>'})|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>{% block subtitle %}Home{% endblock %}</strong></div>
                <div class="panel-body">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <footer>
            <div id="rodape-datasus"></div>
            <div style="text-align:right;margin-top:1rem;margin-right:1rem;font-size:.8em;">v 2.0.3</div>
        </footer>
        <script type="text/javascript" >
            var assetPath = '{{ asset('/') }}';
        </script>
        {% javascripts
            'vendor/jquery/jquery-2.2.0.min.js'
            'vendor/bootstrap/js/bootstrap.min.js'
            'vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
            'vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js'
            'vendor/bootbox/bootbox.min.js'
            'vendor/jquery-mask/jquery.mask.min.js'
            'bundles/fosjsrouting/js/router.js'
            'js/sigpet.js'
            'js/helper.js'
            'js/filters.js'
            'js/jquery.battatech.excelexport.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="https://estatico.saude.gov.br/rodape-datasus.js"></script>
        <script type="text/javascript">insereRodape()</script>
        <!-- Estava travando o carregamento da página -->
        <!-- <script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script> -->
    </body>
</html>
