<div style="background-image: url('{{ app.request.scheme ~'://'~ app.request.host ~ asset('images/certificado.jpg') }}'); width:100%; height:100%; background-repeat: no-repeat;">
    <div style="width: 300px; height: 100%; margin:0; float:left;"></div>
    {% if stFinalizacaoContrato or not projetoPessoa.isAtivo() %}
    <div style="margin-left: 5%; float:left; width: 800px; margin-top:50px;">
        <h1 style="font-size: 60px; font-family: sans-serif; font-weight:bold; color: #2866AB; word-wrap: break-word;">{{ projetoPessoa.getProjeto().getPublicacao().getPrograma().getDsPrograma()|split('/')|join('<br>')|raw }}</h1>
        <h3 style="font-size: 30px; font-weight: 100; font-family: sans-serif;">CERTIFICADO</h3>
        <p style="font-size: 18px; font-weight: 100; font-family: sans-serif; line-height: 2; text-align: justify;">
            Certificamos que {{ projetoPessoa.getPessoaPerfil().getPessoaFisica().getPessoa().getNoPessoa() }} participou como {{ projetoPessoa.getPessoaPerfil().getPerfil().getDsPerfil() }} do Programa de Educação pelo Trabalho para a Saude - {{ projetoPessoa.getProjeto().getPublicacao().getPrograma().getDsPrograma() }}, no periodo de {{ projetoPessoa.getDtInclusao()|date('d/m/Y') }} a {{ projetoPessoa.isAtivo() ? projetoPessoa.getProjeto().getPublicacao().getDtFimVigencia()|date('d/m/Y') : projetoPessoa.getDtDesligamento()|date('d/m/Y') }}, cumprindo uma carga horaria semanal de {{ qtCargaHoraria }} horas.
        </p>
        <div style="text-align:center; font-size: 18px; font-weight: 100; font-family: sans-serif;">{{ municipio.getNoMunicipio() ~ ' / ' ~ municipio.getSgUf() }}, {{ date|date('d') ~ ' de ' ~ date|date('F')|trans ~ ' de ' ~ date|date('Y') }}</div>
        <div style="text-align:center; margin-top:40px; font-size: 18px; font-weight: 100; font-family: sans-serif;">____________________________________________________</br>{{ projetoPessoa.getProjeto().getCoordenadorDeProjeto().getPessoaPerfil().getPessoaFisica().getPessoa().getNoPessoa() }}</div>
        <div style="text-align:center; margin-top:10px; font-size: 18px; font-weight: 100; font-family: sans-serif;">Coordenador do Projeto {{projetoPessoa.getProjeto().getPublicacao().getPrograma().getDsPrograma()}}</div>
    </div>
    {% else %}
    <div style="margin-left: 5%; float:left; width: 900px; margin-top:50px;">
        <h1 style="font-size: 60px; font-family: sans-serif; font-weight:bold; color: #3366cc; word-wrap: break-word;">{{ projetoPessoa.getProjeto().getPublicacao().getPrograma().getDsPrograma()|split('/')|join('<br>')|raw }}</h1>
        <h3 style="font-size: 30px; font-weight: 100; font-family: sans-serif;">DECLARAÇÃO</h3>
        <p style="font-size: 18px; font-weight: 100; font-family: sans-serif; line-height: 2; text-align: justify;">
            Declaro que {{ projetoPessoa.getPessoaPerfil().getPessoaFisica().getPessoa().getNoPessoa() }} participa como {{ projetoPessoa.getPessoaPerfil().getPerfil().getDsPerfil() }} do Programa de Educação pelo Trabalho para a Saude - {{ projetoPessoa.getProjeto().getPublicacao().getPrograma().getDsPrograma() }}, desde {{ projetoPessoa.getDtInclusao()|date('d/m/Y') }}, cumprindo uma carga horaria semanal de {{ qtCargaHoraria }} horas.
        </p>
        <div style="text-align:center; font-size: 18px; font-weight: 100; font-family: sans-serif;">{{ municipio.getNoMunicipio() ~ ' / ' ~ municipio.getSgUf() }}, {{ date|date('d') ~ ' de ' ~ date|date('F')|trans ~ ' de ' ~ date|date('Y') }}</div>
        <div style="text-align:center; margin-top:40px; font-size: 18px; font-weight: 100; font-family: sans-serif;">____________________________________________________</br>{{ projetoPessoa.getProjeto().getCoordenadorDeProjeto().getPessoaPerfil().getPessoaFisica().getPessoa().getNoPessoa() }}</div>
        <div style="text-align:center; margin-top:10px; font-size: 18px; font-weight: 100; font-family: sans-serif;">Coordenador do Projeto {{projetoPessoa.getProjeto().getPublicacao().getPrograma().getDsPrograma()}}</div>
    </div>    
    {% endif %}
    <div style="text-align: right; position: absolute; bottom: 40px; right: 0;">
        <img src="{{ app.request.scheme ~'://'~ app.request.host ~ asset('images/rodape-certificado-2.jpg') }}">
    </div>
</div>
