{% if command.getProjetoPessoaParticipantes()|length == command.getParticipantes()|length and command.getProjetoPessoaParticipantes() %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Participante</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
        {% for p in command.getProjetoPessoaParticipantes() %}
            <tr>
                <td>{{ p.getPessoaPerfil().getPessoaFisica().getPessoa().getNoPessoa() }}</td>
                <td><a data-id="{{ p.getCoSeqProjetoPessoa() }}" data-ch="{{ command.getQtCargaHoraria() }}" data-municipio="{{ command.getMunicipio().getCoMunicipioIbge() }}" data-is-certificado="{{ command.getStFinalizacaoContrato() ? '1' : '0' }}" target="_blank" class="btn btn-default btn-download" style="cursor:pointer;"><i class="glyphicon glyphicon-download"></i> Download</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}    
    {{ form_start(form) }}
        {{ form_widget(form) }}    
    {{ form_end(form) }}
{% endif %}