{% extends "base.html.twig" %}

{% block subtitle %}
    Consultar Formulário de Atividades
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        <a href="{{ path('gerenciar_formulario_atividade_create') }}" class="btn btn-primary">Novo Formulário</a>
    {{ form_end(form) }}
    
    {% if pagination and pagination.count() > 0 %}
    <hr>
    
    <table class="table table-striped">
        <tr>
        {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, '#', 'faa.coSeqFormAvaliacaoAtivd') }}</th>
            <th{% if pagination.isSorted('faa.noFormulario') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Título', 'faa.noFormulario') }}</th>
            <th style="text-align: center;">Descrição</th>
            <th>{{ knp_pagination_sortable(pagination, 'Periodicidade', 'p.dsPeriodicidade') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Perfil Responsável', 'perf.dsPerfil') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data do Cadastro', 'faa.dtInclusao') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Situação', 'faa.stRegistroAtivo') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Endereço FormSUS', 'faa.dsUrlFormulario') }}</th>
            <th style="text-align: center;">Ação</th>
        </tr>

        {# table body #}
        {% for faa in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ faa.getCoSeqFormAvaliacaoAtivd() }}</td>
            <td>{{ faa.getNoFormulario() }}</td>
            <td style="text-align: center;">
                {% if faa.getDsAvaliacao() %}
                    <a class="glyphicon glyphicon-eye-open cursor-pointer btn-detail-descricao" descricao="{{ faa.getDsAvaliacao() }}"></a>
                {% else %}
                    <i class="glyphicon glyphicon-eye-close"></i>
                {% endif %}
            </td>
            <td>{{ faa.getPeriodicidade().getDsPeriodicidade() }}</td>
            <td>{{ faa.getPerfisPorExtenso() }}</td>
            <td>{{ faa.getDtInclusao()|date('d/m/Y') }}</td>
            <td>{{ faa.getDescricaoSituacaoRegistro() }}</td>
            <td><a href="{{ faa.getDsUrlFormulario() }}">{{ faa.getDsUrlFormulario() }}</a></td>
            <td style="text-align: center;">
                {% if faa.isAtivo() %}
                    <a href="{{ path('gerenciar_formulario_atividade_edit', { id : faa.getCoSeqFormAvaliacaoAtivd() }) }}" class="glyphicon glyphicon-edit" title="Editar registro"></a>
                {% endif %}                
                {% if faa.getEnvioFormularioAvaliacaoAtividadeAtivos().count() == 0 %}
                    <a class="glyphicon glyphicon-trash cursor-pointer btn-remove-formulario" data-id="{{ faa.getCoSeqFormAvaliacaoAtivd() }}" title="Excluir registro"></a>
                {% endif %}
                {% if faa.getNoArquivoFormulario() %}
                    <a href="{{ asset('uploads/' ~ faa.getNoArquivoFormulario()) }}" target="_blank" class="glyphicon glyphicon-save" title="Download do formulário anexado"></a>
                {% endif %}
                {% if faa.isAtivo() %}
                    <a href="{{ path('gerenciar_formulario_atividade_delete', { id : faa.getCoSeqFormAvaliacaoAtivd(), softDelete : 1 }) }}" class="glyphicon glyphicon-ban-circle" title="Clique na imagem para INATIVAR o formulário. Após efetuar essa operação e enquanto o formulário estiver INATIVO, não poderá mais ser utilizado na opção “Tramitar Formulário de Atividades”"></a>
                {% else %}
                    <a href="{{ path('gerenciar_formulario_atividade_active', { id : faa.getCoSeqFormAvaliacaoAtivd() }) }}" class="glyphicon glyphicon-off" title="Clique na imagem para ATIVAR o formulário. Após efetuar essa operação e enquanto o formulário estiver ATIVO, poderá ser utilizado na opção “Tramitar Formulário de Atividades”"></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% elseif pagination is not null %}
        <hr>
        Nenhum registro encontrado.
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/gerenciar_formulario_atividade/index.js') }}"></script>
{% endblock %}