{% extends '::base.html.twig' %}

{% block subtitle %}
    Relatório da Folha de Pagamento
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="form-group {% if not form.publicacao.vars.valid %}has-error{% endif %}">
            {{ form_label(form.publicacao) }}
            {{ form_widget(form.publicacao) }}
            {{ form_errors(form.publicacao) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nuSei) }}
            {{ form_widget(form.nuSei) }}
            {{ form_errors(form.nuSei) }}
        </div>
        <div class="form-group {% if not form.tpFolhaPagamento.vars.valid %}has-error{% endif %}">
            {{ form_label(form.tpFolhaPagamento) }}
            {{ form_widget(form.tpFolhaPagamento) }}
            {{ form_errors(form.tpFolhaPagamento) }}
        </div>
        <div class="form-group {% if not form.ano.vars.valid %}has-error{% endif %}">
            {{ form_label(form.ano) }}
            {{ form_widget(form.ano) }}
            {{ form_errors(form.ano) }}
        </div>
        <div class="form-group {% if not form.mes.vars.valid %}has-error{% endif %}">
            {{ form_label(form.mes) }}
            {{ form_widget(form.mes) }}
            {{ form_errors(form.mes) }}
        </div>
        <div class="form-group {% if not form.folhaPagamento.vars.valid %}has-error{% endif %}">
            {{ form_label(form.folhaPagamento) }}
            {{ form_widget(form.folhaPagamento) }}
            {{ form_errors(form.folhaPagamento) }}
        </div>
        <div class="form-group {% if not form.tpOutput.vars.valid %}has-error{% endif %}">
            {{ form_label(form.tpOutput) }}
            {{ form_widget(form.tpOutput) }}
            {{ form_errors(form.tpOutput) }}
        </div>
        <button type="submit" id="btn-search" class="btn btn-primary">Gerar</button>
        <a href="javascript:;" id="btn-clear-form" class="btn btn-link">Limpar</a>
    {{ form_end(form) }}

    {% if error %}
        <div class="no-result">
            <hr>
            Nenhum resultado encontrado para os filtros informados.
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/relatorio/folha_pagamento.js') }}"></script>
{% endblock %}
