{% extends 'base.html.twig' %}

{% block subtitle %}Relatório de projetos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { attr: { 'novalidate': 'novalidate' } }) }}
            {{ form_row(form.nuSipar, { value: queryParams.nuSipar, attr: {'class': 'nuSipar'} }) }}
            {{ form_row(form.grupoAtuacao, { value: queryParams.grupoAtuacao }) }}
            <div class="col-md-12">
                <p class="text-info">Instituição de ensino superior</p>
                {{ form_row(form.ufCampus) }}
                {{ form_row(form.municipioCampus) }}
                {{ form_row(form.instituicao) }}
                {{ form_row(form.campus) }}
            </div>
            <div class="col-md-12">
                <p class="text-info">Secretaria municipal de saúde</p>
                {{ form_row(form.ufSecretaria) }}
                {{ form_row(form.municipioSecretaria) }}
                {{ form_row(form.secretaria) }}
            </div>
            <input type="submit" class="btn btn-primary" value="Pesquisar">
            <button class="btn btn-default btn-download"><span class="glyphicon glyphicon-list-alt"></span> Baixar</button>
            <input type="reset" class="btn btn-link" value="Limpar">
            {{ form_end(form) }}
        </div>
    </div>

    <hr>

    {% include 'relatorio/projetos.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {% javascripts 'js/relatorio/pagamento.js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}