<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NU_SIPAR" data-sort="{{ ascDesc(queryParams) }}">N° SEI</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NU_MES" data-sort="{{ ascDesc(queryParams) }}">Mês</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NU_ANO" data-sort="{{ ascDesc(queryParams) }}">Ano</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="TP_FOLHA_PAGAMENTO" data-sort="{{ ascDesc(queryParams) }}">Tipo folha</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NO_INSTITUICAO_PROJETO" data-sort="{{ ascDesc(queryParams) }}">Instituição de ensino superior</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NO_SECRETARIA_SAUDE" data-sort="{{ ascDesc(queryParams) }}">Secretaria de saúde</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NO_GRUPO_ATUACAO" data-sort="{{ ascDesc(queryParams) }}">Grupo de Atuação</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="TOTAL_PARTICIPANTE" data-sort="{{ ascDesc(queryParams) }}">Qtd. Bolsas Autorizadas</a></th>
                    <th><a class="header-order-by" href="javascript:void(0)" data-order-by="VL_FOLHA_MES" data-sort="{{ ascDesc(queryParams) }}">Valor da folha</a></th>
                </tr>
            </thead>
            <tbody>
                {% for projeto in projetos %}
                    <tr>
                        <td>{{ projeto.CO_SEQ_PROJETO }}</td>
                        <td>{{ projeto.NU_SIPAR }}</td>
                        <td>{{ projeto.NU_MES|abs|strmes|slice(0,3) }}</td>
                        <td>{{ projeto.NU_ANO }}</td>
                        <td><abbr title="{{ projeto.TP_FOLHA_PAGAMENTO|strtipofolha }}">{{ projeto.TP_FOLHA_PAGAMENTO }}</abbr></td>
                        <td>{{ projeto.NO_INSTITUICAO_PROJETO }}</td>
                        <td>{{ projeto.NO_SECRETARIA_SAUDE }}</td>
                        <td>{{ projeto.NO_GRUPO_ATUACAO }}</td>
                        <td>{{ projeto.TOTAL_PARTICIPANTE }}</td>
                        <td>R$&nbsp;{{ projeto.VL_FOLHA_MES|number_format(2,',', '.') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Nenhum resultado encontrado para os filtros informados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>