{% extends "base.html.twig" %}

{% block subtitle %}
    Pesquisar Profissional
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Pesquisar</button> 
        <a class="btn btn-default" id="btn-clear-filter">Limpar</a>
    {{ form_end(form) }}
    
    <hr>
    {% if pagination.count() > 0 %}        
    <table class="table table-striped">
        <thead>
            <tr>            
                <th>{{ knp_pagination_sortable(pagination, '#', 'p.coSeqProjetoPessoa') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nome', 'p.noPessoa') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'CPF', 'p.nuCpfCnpjPessoa') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'SIPAR', 'p.nuSipar') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tipo Participante', 'p.dsPerfil') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Ativo', 'p.stRegistroativoProjpessoa') }}</th>                
                <th style="text-align: center;">Selecionar</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ p.getCoSeqProjetoPessoa() }}</td>
                <td>{{ p.getNoPessoa() }}</td>
                <td>{{ p.getNuCpfCnpjPessoa()|cpf }}</td>
                <td>{{ p.getNuSipar() }}</td>
                <td>{{ p.getDsPerfil() }}</td>
                <td><i class="{{ p.isAtivoInProjeto() ? 'text-success' : 'text-danger' }}">{{ p.isAtivoInProjeto() ? 'Sim' : 'Não' }}</i></td>
                <td style="text-align: center;">
                    <input type="checkbox" name="participantes[]" value="{{ p.getCoSeqProjetoPessoa() }}" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation pull-left">
        {{ knp_pagination_render(pagination) }}
    </div>
    
    <div class="pull-right">
        <a class="btn btn-primary" id="btn-gerar-certificado">Gerar Certificado</a>
    </div>
    {% elseif pagination is not null %}
        Nenhum registro encontrado.
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/certificado/index.js') }}"></script>
{% endblock %}