{% extends 'base.html.twig' %}

{% block subtitle %}
    Cadastrar Programa
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'method': 'post', 'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.dsPrograma) }}
                {{ form_row(form.tpPrograma) }}
                {{ form_row(form.tpAreaTematica) }}
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Publicação</strong></div>
                    <div class="panel-body">
                        {{ form_row(form.tpPublicacao) }}
                        {{ form_row(form.nuPublicacao) }}
                        {{ form_row(form.dtPublicacao, {attr: {'class': 'datepicker dmY'}}) }}
                        {{ form_row(form.dtInicioVigencia, {attr: {'class': 'datepicker dmY'}}) }}
                        {{ form_row(form.dtFimVigencia, {attr: {'class': 'datepicker dmY'}}) }}
                        {{ form_row(form.dsPublicacao) }}
                        {{ form_row(form.qtdMinimaBolsistasGrupo) }}
                        {{ form_row(form.qtdMaximaBolsistasGrupo) }}
                    </div>
                </div>
                <a href="{{ path('programa') }}" class="btn btn-default">Voltar</a>
                <input type="submit" class="btn btn-primary" value="Salvar">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/programa/cadastrar.js') }}"></script>
{% endblock %}