{% extends 'base.html.twig' %}

{% block subtitle %}Informe de Rendimento{% endblock %}

{% block body %}
    {{ form_start(form, {'method': 'post', 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.publicacao, {value: requestParams.publicacao}) }}
        {{ form_row(form.nuAnoBase, {value: requestParams.nuAnoBase}) }}
        {{ form_row(form.dtNascimento, {value: requestParams.dtNascimento, attr: {'class': 'datepicker dmY'}}) }}
        {{ form_row(form.nuCpf, {value: requestParams.nuCpf}) }}
        <input type="submit" class="btn btn-primary" name="bt-consultar" id="bt-consultar" value="Consultar">
    {{ form_end(form) }}

    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Tipo Participante</th>
                    <th>Ano Base</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>

                {% for informeRendimento in pagination %}
                    <tr>
                        <td>{{ informeRendimento.CO_SEQ_PROJETO_PESSOA }}</td>
                        <td>{{ informeRendimento.NO_PESSOA }}</td>
                        <td>{{ informeRendimento.NU_CPF|cpf }}</td>
                        <td>{{ informeRendimento.DS_PERFIL }}</td>
                        <td>{{ informeRendimento.NU_ANO }}</td>
                        <td>
                            <a href="{{ path('baixar-informe-rendimento', { 'dadosParticipante': informeRendimento.CO_SEQ_PROJETO_PESSOA~'-'~informeRendimento.CO_SEQ_PROGRAMA~'-'~informeRendimento.NU_ANO }) }}" target="_blank" title="Baixar Informe de Rendimento"><span class="glyphicon glyphicon-save"></span></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" style="text-align: center">Nenhum participante encontrado.</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
