{% extends "base.html.twig" %}

{% block subtitle %}
    {{ edit ? 'Editar' : 'Cadastrar' }} Modelo de Certificado
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.programa) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.tipo) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.nome) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.descricao) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.imagem) }}
                <div class="form-group" style="display: {{ form.vars.value.nomeImagem ? 'block' : 'none' }}">
                    <img id="preview_{{ form.imagem.vars.id }}"
                         src="{{ asset('uploads/' ~ form.vars.value.nomeImagem) }}" style="max-width: 300px;" />
                </div>
            </div>
            <div class="col-md-6">
                {{ form_row(form.imagemRodape) }}
                <div class="form-group" style="display: {{ form.vars.value.nomeImagemRodape ? 'block' : 'none' }}">
                    <img id="preview_{{ form.imagemRodape.vars.id }}"
                         src="{{ asset('uploads/' ~ form.vars.value.nomeImagemRodape) }}" style="max-width: 300px;" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        &nbsp;
        <a href="{{ path('modelo_certificado') }}" class="btn btn-default">Voltar</a>
    {{ form_end(form) }}

    <div id="modal-info" class="hidden">
        <p>Inserir o texto do certificado e no local das informações que o sistema irá preencher, conforme o cadastro do participante, utilizar as seguintes tags:</p>
        <p>
            <ul>
                <li>&lt;NOME PARTICIPANTE&gt;: Retorna o nome do participante</li>
                <li>&lt;PERFIL PARTICIPANTE&gt;: Retorna o perfil do participante</li>
                <li>&lt;DATA INÍCIO PARTICIPAÇÃO&gt;: Retorna a data de início da participação</li>
                <li>&lt;DATA TÉRMINO PARTICIPAÇÃO&gt;: Retorna a data de término da participação</li>
                <li>&lt;CARGA HORÁRIA CUMPRIDA&gt;: Retorna a carga horária cumprida</li>
            </ul>
        </p>
        <p>
            Exemplo Certificado:<br>
            Certificamos que &lt;NOME PARTICIPANTE&gt; participou como &lt;PERFIL PARTICIPANTE&gt; do Programa de Educação pelo Trabalho para a Saúde - PET-INFOSD Interprofissionalidade, no período de &lt;DATA INÍCIO PARTICIPAÇÃO&gt; a &lt;DATA TÉRMINO PARTICIPAÇÃO&gt;, cumprindo uma carga horária de &lt;CARGA HORÁRIA CUMPRIDA&gt; horas.
        </p>
        <p>
            Exemplo Declaração:<br>
            Declaro que &lt;NOME PARTICIPANTE&gt; participa como &lt;PERFIL PARTICIPANTE&gt; do Programa de Educação pelo Trabalho para a Saude - PET/Interprofissionalidade, desde &lt;DATA INÍCIO PARTICIPAÇÃO&gt;, cumprindo uma carga horaria semanal de &lt;CARGA HORÁRIA CUMPRIDA&gt; horas.
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/modelo_certificado/form.js') }}"></script>
{% endblock %}