{% extends "base.html.twig" %}

{% block subtitle %}
    Consultar Modelo de Certificado
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.programa) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.tipo) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.nome) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.ativo) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        &nbsp;
        <a href="{{ path('modelo_certificado', {'filter': 'clear'}) }}" class="btn btn-default">Limpar</a>
        &nbsp;
        <a href="{{ path('modelo_certificado_create') }}" class="btn btn-default">Novo</a>
    {{ form_end(form) }}

    <hr>

    {% if pagination.count() > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Nome do Modelo', 'mc.noModeloCertificado') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Programa', 'pr.dsPrograma') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tipo de Modelo', 'mc.tpDocumento') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Ativo', 'mc.stRegistroAtivo') }}</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ item.noModeloCertificado }}</td>
                    <td>{{ item.programa.dsPrograma }}</td>
                    <td>{{ item.noTipoDocumento }}</td>
                    <td>{{ item.stRegistroAtivo | strst }}</td>
                    <td>
                        <a href="{{ path('modelo_certificado_preview', { id : item.coSeqModeloCertificado }) }}" class="glyphicon glyphicon-eye-open" title="Visualizar Modelo" target="_blank"></a>
                        &nbsp;
                        <a href="{{ path('modelo_certificado_edit', { id : item.coSeqModeloCertificado }) }}" class="glyphicon glyphicon-edit" title="Editar Modelo"></a>
                        {% if not item.ativo %}
                            &nbsp;
                            <a href="{{ path('modelo_certificado_active', { id : item.coSeqModeloCertificado }) }}" class="glyphicon glyphicon-check btn-ativar-modelo" data-id="{{ item.coSeqModeloCertificado }}" title="Ativar Modelo"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% elseif pagination is not null %}
        Nenhum resultado encontrado.
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/modelo_certificado/index.js') }}"></script>
{% endblock %}