{% extends "base.html.twig" %}

{% block subtitle %}
    Lista de Participantes 
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tr>        
            <th>Participante</th>
            <th>Programa / Publicação</th>
            <th>Projeto</th>
            <th>Perfil</th>
            <th>Data de Envio</th>
            <th>Último Tramite (Data - Situação)</th>
        </tr>        
        {% for row in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ row.nuCpf|cpf ~ ' ' ~ row.noPessoa }}</td>
            <td>{{ row.dsPrograma ~ ' ' ~ row.dsPublicacao ~ ' de ' ~ row.dtPublicacao|date('d/m/Y') }}</td>
            <td>{{ row.nuSipar }}</td>
            <td>{{ row.dsPerfil }}</td>
            <td>{{ row.dtEnvio|date('d/m/Y') }}</td>
            <td>{{ row.dtInclusao|date('d/m/Y') ~ ' - ' ~ row.noSituacaoTramiteFormulario }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
        
    <a href="{{ path('tramita_formulario_atividade') }}" class="btn btn-default">Voltar</a>
{% endblock %}