{% extends "base.html.twig" %}

{% block subtitle %}
    Cadastrar Retorno de Formulário de avaliação de Atividade
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.noFormulario) }}        
        
        {% set hasFormSUS = form.vars.data.getTramitacaoFormulario().getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getDsUrlFormulario() ? true : false %}
        <div class="form-group {{ hasFormSUS ? null : 'hidden' }} {{ not form.nuProtocoloFormSUS.vars.valid ? 'has-error' : null }}">
            {{ form_label(form.nuProtocoloFormSUS) }}
            {{ form_widget(form.nuProtocoloFormSUS, { 'required' : hasFormSus }) }}
            {{ form_errors(form.nuProtocoloFormSUS) }}
        </div>
        {{ form_row(form.fileFormulario) }}
        
        <div class="text-danger margin-bottom-10 {{ hasFormSUS ? null : 'hidden' }}">
            * Clique aqui <a href="" class="glyphicon glyphicon-circle-arrow-right"></a>
            para realizar o preenchimento do formulário no FormSUS. Após o preenchimento
            deverá ser gerado o PDF para anexar aqui no cadastro de retorno.
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{{ path('tramita_formulario_atividade_index_retorno') }}" class="btn btn-default">Voltar</a>
    {{ form_end(form) }}
{% endblock %}