{% extends 'base.html.twig' %}

{% block subtitle %}Grupos de atuação{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'method': 'post', 'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.areasTematicas) }}
                <input type="submit" class="btn btn-primary" value="Cadastrar Grupo de Atuação">
                <hr>
                <table class="table table-striped" id="table-campus">
                    <thead>
                        <tr>
                            <th>Grupo</th>
                            <th>Áreas de atuação</th>
                            <th>Qtd. de Participantes</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grupo in grupos %}
                            <tr>
                                <td>{{ grupo.coSeqGrupoAtuacao }}</td>
                                <td>{{ grupo.descricaoAreasTematicas }}</td>
                                <td>{{ grupo.projetoPessoaGrupoAtuacaoAtivas|length ?: 0 }}</td>
                                <td>
                                    {#<a href="">
                                        <span class="glyphicon glyphicon-pencil" title="Editar"></span>
                                    </a>#}
                                    <a href="javascript:;" class="inativar-grupo" data-grupo="{{ grupo.coSeqGrupoAtuacao }}">
                                        <span class="glyphicon glyphicon-remove" title="Remover"></span>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr class="grupo-placeholder">
                                <td colspan="5">Nenhum grupo de atuação cadastrado</td>
                            </tr>
                        {% endfor %}                            
                    </tbody>
                </table>
            {{ form_end(form) }}                 
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts 'js/grupo_atuacao/index.js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}