{% extends 'base.html.twig' %}

{% block subtitle %}Relatório de participantes{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { attr: { 'novalidate': 'novalidate' } }) }}
            {{ form_row(form.nuSipar, { attr: {'class': 'nuSipar'} }) }}
            {{ form_row(form.nuCpf) }}
            {{ form_row(form.noPessoa) }}
            {{ form_row(form.perfil) }}
            {{ form_row(form.stVoluntarioProjeto) }}
            {{ form_row(form.grupoAtuacao) }}
            {{ form_row(form.cursoGraduacao) }}
            <input type="submit" class="btn btn-primary" value="Pesquisar">
            <button class="btn btn-default btn-download"><span class="glyphicon glyphicon-list-alt"></span> Baixar</button>
            <input type="reset" class="btn btn-link" value="Limpar">
            {{ form_end(form) }}
        </div>
    </div>

    <hr>
    
    {% include 'relatorio/participantes.html.twig' %}
{% endblock %}

