{% extends "base.html.twig" %}

{% block subtitle %}
    Relatório Gerencial de Participantes
{% endblock %}

{% block body %}
    {{ form_start(form) }}        
        <div class="form-group">
            {{ form_label(form.publicacao) }}
            {{ form_widget(form.publicacao) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nuSipar) }}
            {{ form_widget(form.nuSipar) }}            
            {{ form_errors(form.nuSipar) }} 
        </div>
        {% if projeto and projeto.getPublicacao().getPrograma().isGrupoTutorial() %}
        <div class="form-group">
            {{ form_label(form.grupoTutorial) }}
            {{ form_widget(form.grupoTutorial) }}
        </div>
        {% endif %}
        <div class="form-group">
            {{ form_label(form.tipoParticipante) }}
            {{ form_widget(form.tipoParticipante) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tipoParticipacao) }}
            {{ form_widget(form.tipoParticipacao) }}
        </div>
        <div class="form-group">
            {{ form_label(form.stParticipante) }}
            {{ form_widget(form.stParticipante) }}
        </div>        
        <div class="form-group col-md-5 pull-left padding-0">
            {{ form_label(form.from_customizacao) }}
            {{ form_widget(form.from_customizacao) }}
            {{ form_errors(form.from_customizacao) }}
        </div>
        <div class="pull-left col-md-2 text-center margin-top-50">
            <div class="margin-top-100">
                <a class="btn btn-primary" id="btn-add-item"><i class="glyphicon glyphicon-arrow-right"></i></a>
            </div>
            <div class="margin-top-10">
                <a class="btn btn-primary" id="btn-remove-item"><i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>
        </div>
        <div class="form-group col-md-5 pull-right padding-0 {% if not form.to_customizacao.vars.valid %}has-error{% endif %}">
            {{ form_label(form.to_customizacao) }}
            {{ form_widget(form.to_customizacao) }}
            {{ form_errors(form.to_customizacao) }}
        </div>
        <div class="clear-both">
            <span style="color: red;">*</span> Informações obrigatórias. Selecionar as informações na ordem que devem ser exibidas no relatório.
        </div>
        <div class="margin-top-10">
            <button type="button" id="btn-search" class="btn btn-primary">Pesquisar</button> 
            <button type="button" id="btn-download" class="btn btn-default"><i class="glyphicon glyphicon-list-alt"></i> Baixar</button>
            <button type="button" id="btn-clear" class="btn btn-link">Limpar</button>
        </div>
    {{ form_end(form) }}
    
    <hr>
    {% if report %}
    <table class="table table-striped">
        <thead>            
            <tr>
                {% for title,value in report[0] %}
                    <th>{{ title|trans }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in report %}
            <tr>
               {% for colName,col in row %}
                    {% if colName == 'NU_CPF_CNPJ_PESSOA' %}
                        <td>{{ col|cpf }}</td>
                    {% else %}
                        <td>{{ col }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elseif report is not null %}
        Nenhum registro encontrado.
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/relatorio/gerencial_participante.js') }}"></script>
{% endblock %}