<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NU_SIPAR" data-sort="{{ ascDesc(queryParams) }}">N° SEI</a></th>
        <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NO_PESSOA" data-sort="{{ ascDesc(queryParams) }}">Nome do participante</a></th>
        <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NU_CPF" data-sort="{{ ascDesc(queryParams) }}">CPF</a></th>
        <th><a class="header-order-by" href="javascript:void(0)" data-order-by="VL_BOLSA" data-sort="{{ ascDesc(queryParams) }}">Valor da bolsa</a></th>
        <th>Mês/Ano</th>
        <th><a class="header-order-by" href="javascript:void(0)" data-order-by="NO_COORD" data-sort="{{ ascDesc(queryParams) }}">Coordenador</a></th>
        <th><a class="header-order-by" href="javascript:void(0)" data-order-by="DT_AUTORIZACAO" data-sort="{{ ascDesc(queryParams) }}">Data da autorização</a></th>
        <th><a class="header-order-by" href="javascript:void(0)">Situação</a></th>
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result.CO_SEQ_PROJETO }}</td>
            <td>{{ result.NU_SIPAR }}</td>
            <td>{{ result.NO_PESSOA }}</td>
            <td>{{ result.NU_CPF|cpf }}</td>
            <td>R$ {{ result.VL_BOLSA|number_format(2, ',', '.') }}</td>
            <td>{{ result.NU_MES_ANO }}</td>
            <td>{{ result.NO_COORD }}</td>
            <td>{{ result.DT_AUTORIZACAO|date('d/m/Y H:i:s') }}</td>
            <td>{{ result.ST_FOLHA }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Nenhum resultado encontrado para os filtros informados.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>