{% extends 'base.html.twig' %}

{% block subtitle %}Pesquisar/Abrir Folha(s) de Pagamento{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'method': 'get', attr: {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.publicacao) }}
            {{ form_row(form.situacao) }}
            {{ form_row(form.tpFolha) }}
            <input type="submit" class="btn btn-primary" value="Pesquisar">
            <a href="{{ path('relatorio_pagamento_detalhado') }}" class="btn btn-primary">Relatório Detalhado</a>
            <a href="{{ path('folha_pagamento_abrir') }}" class="btn btn-default">Abrir Folha <span class="glyphicon glyphicon-usd"></span></a>
            <a href="{{ path('folha_pgto_suplementar_create') }}" class="btn btn-default">Abrir Folha Suplementar</a>
            {{ form_end(form) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Programa', 'pr.dsPrograma') }}</th> 
                        <th>Mês de Referência</th>
                        <th>Tipo de Folha</th>
                        <th>Qtd. de Projetos</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Situação', 's.dsSituacaoFolha') }}</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for folha in pagination %}
                        <tr>
                            <td>{{ folha.coSeqFolhaPagamento }}</td>
                            <td>{{ folha.publicacao.descricaoCompleta }}</td>
                            <td>{{ folha.referenciaExtenso|capitalize }}</td>
                            <td>{{ folha.getDescricaoTipoFolha() }}</td>
                            <td>
                                {% set projetosNaFolha = folha.projetosFolhaPagamentoAtivosAprovados.count %}
                                {{ projetosNaFolha }}
                                {% if projetosNaFolha %}
                                    &nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="qtd-projetos" data-folha="{{ folha.coSeqFolhaPagamento }}" title="Projetos"><span class="glyphicon glyphicon-eye-open"></span></a>
                                {% endif %}
                            </td>
                            <td class="situacao-folha">{{ folha.situacao.dsSituacaoFolha }} <b>{{ folha.nuOrdemBancaria }}</b></td>
                            <td>
                                {{ showFolhaPagamentoButtons(folha)|raw }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Nenhuma folha de pagamento cadastrada.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/folha_pagamento/all.js') }}"></script>
{% endblock %}
