<table>
    <tr>
        <th colspan="8">FOLHA DE PAGAMENTO {{ folha.getDescricaoTipoFolha() }} {{ folha.publicacao.programa.dsPrograma }} - MES DE REFERÊNCIA {{ folha.referenciaExtenso|upper }}</th>
    </tr>
    <tr>
        <th colspan="8">SITUAÇÃO DA FOLHA DE PAGAMENTO: {{ folha.situacao.dsSituacaoFolha }}</th>
    </tr>
    <tr>
        <th colspan="4">
            {% if folha.nuSipar %}
            SEI DA FOLHA: {{ folha.nuSipar }}
            {% endif %}
        </th>
        <th colspan="4">
            {% if folha.nuOrdemBancaria %}
            ORDEM BANCÁRIA: {{ folha.nuOrdemBancaria }}
            {% endif %}
        </th>
    </tr>
    <!-- pulando uma linha no excel -->
    <tr>
        <th colspan="8"></th>
    </tr>
    {% if not folha.isMensal() and folha.dsJustificativa %}
    <tr>
        <th>Justificativa</th>
        <th colspan="7">
            {{ folha.dsJustificativa }}
        </th>
    </tr>
    <tr>
        <th colspan="8"></th>
    </tr>
    {% endif %}
    <!-- pulando uma linha no excel -->
    <tr>
        <th></th>
        <th>Nome do Participante</th>
        <th>CPF</th>
        <th>Perfil</th>
        <th>
            {% if folha.getPublicacao().getPrograma().isGrupoTutorial() %}
                Grupo
            {% else %}
                Grupo Atuação
            {% endif %}
        </th>
        <th>Valor da Bolsa</th>
        <th>SEI PROJETO</th>
        <th>Coordenador do Projeto</th>
    </tr>
    {% for autorizacao in autorizacoes %}
        <tr>
            <td>{{ autorizacao.CO_SEQ_AUTORIZACAO_FOLHA }}</td>
            <td>{{ autorizacao.NO_PESSOA }}</td>
            <td>{{ autorizacao.NU_CPF|cpf }}</td>
            <td>{{ autorizacao.DS_PERFIL }}</td>
            <td>{{ autorizacao.NO_GRUPO_ATUACAO }}</td>
            <td>R$ {{ autorizacao.VL_BOLSA|number_format(2, ',', '.') }}</td>
            <td>{{ autorizacao.NU_SIPAR }}</td>
            <td>{{ autorizacao.NO_COORD }}</td>
        </tr>
    {% endfor %}
</table>
