<div class="row">
    <div class="col-md-12">
        <div class="row">
                <div class=" col-md-6">
                    <b>Total:</b> {{ projetosPublicacao.count }}
                </div>
                <div class="col-md-6 text-info bg-info p-a-3">
                    <b>Não incluídos na folha:</b>
                    <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev-projeto">Anterior</a>
                    <a href="javascript:void(0)" class="btn btn-primary btn-xs" id="btn-next-projeto">Próximo</a>
                </div>
        </div>
        
        <table class="table table-striped small scroll300">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nº SEI</th>
                    <th>Instituicao de Ensino</th>
                    <th>Secretaria de Saúde</th>
                    <th>Coordenador</th>
                </tr>
            </thead>
            <tbody>
                {% for projeto in projetosPublicacao %}
                    {% set title = 'Não incluído' %}
                    {% set class = 'text-danger nao-incluido' %}
                    {% for projetoFolhaPagamento in projetosFolhaPagamento %}
                        {% if projeto == projetoFolhaPagamento.projeto %} 
                            {% set class = 'text-success' %}
                            {% set title = 'Incluído' %}
                            {% if projetoFolhaPagamento.stParecer == 'N' %}
                                {% set class = 'text-muted' %}
                                {% set title = 'Parecer negado' %}
                            {% endif %}    
                        {% endif %}
                    {% endfor %}
                    <tr class="{{ class }}" title="{{ title }}">
                    
                        <td>{{ projeto.coSeqProjeto }}</td>
                        <td><b>{{ projeto.nuSipar }}</b></td>
                        <td>{{ projeto.descricaoInstituicaoEnsino }}</td>
                        <td>{{ projeto.descricaoSecretariaSaude }}</td>
                        <td>
                            {% set coordenador = projeto.coordenadorDeProjeto.pessoaPerfil.pessoaFisica.pessoa %}
                            {{ coordenador.noPessoa }}<br/>
                            {{ coordenador.telefonesAtivosList|join(', ') }}<br/>
                            {{ coordenador.enderecosWebAtivosList|join(', ') }}<br/>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Nenhum projeto cadastrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/folha_pagamento/projetos_vinculados.js') }}"></script>
{% endblock %}