{% block body %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>
        <head>
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <title>INFORME DE RENDIMENTO</title>
            <style>
                body { font-family: Arial; font-size: 11pt; width:750px; text-align:justify; }
                table{  }
                table th{ background:#eaeaea; padding:5px; }
                table td{ padding:5px; border:1px solid #000; }
            </style>
        </head>
        <body>

        <table cellspacing="0" cellpadding="0">
            <tr>
                <td width="375px" valign="top">
                    <img src="{{ absolute_url(asset('images/brasao_receita_federal.png')) }}" style="float:left; margin:5px;">
                </td>
                <td width="375px" style="text-align:center;"><strong>COMPROVANTE DE RENDIMENTOS PAGOS<br> E DE RETENÇÃO DE<br> IMPOSTO DE RENDA NA FONTE<br> <span style="font-size:12px;">Ano-calendário {{ dadosInformeRendimento.NU_ANO }}</span></strong></td>
            </tr>
        </table><br><br>

        <strong>1. FONTE PAGADORA PESSOA JURÍDICA OU PESSOA FÍSICA</strong>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="475px"><span style="font-size:9px;">NOME EMPRESARIAL / NOME</span><br>MINISTÉRIO DA SAÚDE</td>
                    <td width="275px"><span style="font-size:9px;">CNPJ / CPF</span><br>00.530.493/0001-71</td>
                </tr>
            </table><br>

        <strong>2. PESSOA FÍSICA BENEFICIÁRIA DOS RENDIMENTOS</strong>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="275px"><span style="font-size:9px;">CPF</span><br>{{ dadosInformeRendimento.NU_CPF }}</td>
                    <td width="475px"><span style="font-size:9px;">NOME COMPLETO</span><br>{{ dadosInformeRendimento.NO_PESSOA }}</td>
                </tr>
                <tr>
                    <td colspan="2" width="750px"><span style="font-size:9px;">NATUREZA DO RENDIMENTO</span><br>BOLSA DE ESTUDO E PESQUISA</td>
                </tr>
            </table><br>

        <strong>3. RENDIMENTOS TRIBUTÁVEIS, DEDUÇÕES E IMPOSTO RETIDO NA FONTE</strong>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="475px"><span style="font-size:11px;">01. Total dos Rendimentos (inclusive férias)</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">02. Contribuição Previdenciária Oficial</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">03. Contribuiçao à Previdência Privada e ao Fundo de Aposentadoria Programada Individual - FAPI</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">04. Pensão Alimentícia (informar o beneficiário no Quadro 6)</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">05. Imposto de Renda Retido</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
            </table><br>

        <strong>4. RENDIMENTOS ISENTOS E NÃO TRIBUTÁVEIS</strong>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="475px"><span style="font-size:11px;">01. Parcela Isenta dos Proventos de Aposentadoria, Reserva, Reforma e Pensão (65 anos ou mais)</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">02. Diárias e Ajudas de Custo</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">03. Pensão, Proventos de  Aposentadoria ou Reforma por Moléstia Grave e Aposentadoria ou Reforma por Acidente em Serviço</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">04. Lucro e Dividendo Apurado a partir de 1996 pago por PJ  (Lucro Real, Presumido ou Arbitrado)</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">05. Valores Pagos  ao Titular ou Sócio da Microempresa ou Empresa de Pequeno Porte, exceto o Pro labore, Aluguéis ou Serviços Prestados</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">06. Indenizações por rescisão de  contrato de trabalho, inclusive a título de PDV, e acidente de trabalho</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="475px"><span style="font-size:11px;">07. Outros ({{ dadosInformeRendimento.DS_PROGRAMA }})</span></td>
                    <td width="275px" style="text-align:right;" >{{ dadosInformeRendimento.VALOR_TOTAL|number_format(2, ',', '.') }}</td>
                </tr>
            </table><br>

        <strong>5. RENDIMENTOS SUJEITOS A TRIBUTAÇÃO EXCLUSIVA (RENDIMENTO LÍQUIDO)</strong>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="475px"><span style="font-size:11px;">01. Décimo Terceiro Salário</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
                <tr>
                    <td width="275px"><span style="font-size:11px;">02. Outros</span></td>
                    <td width="275px" style="text-align:right;" >0,00</td>
                </tr>
            </table><br>

        <strong>6. INFORMAÇÕES COMPLEMENTARES</strong>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="750px"><br><br><br><br></td>
                </tr>
            </table><br>

        <strong>7. RESPONSÁVEL PELAS INFORMAÇÕES</strong>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="350px"><span style="font-size:9px;">NOME</span><br></td>
                    <td width="125px"><span style="font-size:9px;">DATA</span><br></td>
                    <td width="225px"><span style="font-size:9px;">ASSINATURA</span><br></td>
                </tr>
            </table>
        </body>
    </html>

    <script type="application/javascript">
        window.print();
    </script>

{% endblock %}


