{% extends "base.html.twig" %}

{% block subtitle %}
    Consultar Banco
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.coBanco) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.noBanco) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.stRegistroAtivo) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    <a href="{{ path('banco_create') }}" class="btn btn-primary">Cadastrar</a>
    {{ form_end(form) }}

    <hr>
    {% if pagination.count() > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Código', 'b.coBanco') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Descrição', 'b.noBanco') }}</th>
                <!--
                <th>{{ knp_pagination_sortable(pagination, 'Sigla', 'b.sgBanco') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Convênio FNS', 'b.stConvenioFns') }}</th>
                -->
                <th>{{ knp_pagination_sortable(pagination, 'Ativo', 'b.stRegistroAtivo') }}</th>
                <!--
                <th>{{ knp_pagination_sortable(pagination, 'Site', 'b.dsSite') }}</th>
                -->
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            {% for b in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ b.coBanco }}</td>
                    <td>{{ b.noBanco }}</td>
                    <!--
                    <td>{{ b.sgBanco }}</td>
                    <td>{{ b.stConvenioFns }}</td>
                    -->
                    <td>
                        {% if b.stRegistroAtivo == 'S' %}
                            Ativo
                        {% else %}
                            Inativo
                        {% endif %}
                    </td>
                    <!--
                    {% if b.dsSite %}
                        <td><a href="{{ b.dsSite }}" target="_blank">{{ b.dsSite }}</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    -->
                    <td>
                        <a href="{{ path('banco_edit', { id : b.getCoBanco() }) }}" class="glyphicon glyphicon-edit"
                           title="Editar Registro"></a>
                        {% if b.stRegistroAtivo == 'S' %}
                            <a data-id="{{ b.getCoBanco() }}" data-ativo="{{ b.stRegistroAtivo }}"
                               data-nome="{{ b.noBanco }}" data-codigo="{{ b.coBanco }}"
                               class="glyphicon glyphicon-eye-close btn-activate-banco"
                               style="margin-left: 8px;color:red;" title="Desativar Registro"></a>
                        {% else %}
                            <a data-id="{{ b.getCoBanco() }}" data-ativo="{{ b.stRegistroAtivo }}"
                               data-nome="{{ b.noBanco }}" data-codigo="{{ b.coBanco }}"
                               class="glyphicon glyphicon-eye-open btn-activate-banco" style="margin-left: 8px;"
                               title="Ativar Registro"></a>
                        {% endif %}
                        <a data-id="{{ b.getCoBanco() }}" data-nome="{{ b.noBanco }}" data-codigo="{{ b.coBanco }}"
                           class="glyphicon glyphicon-remove btn-delete-banco" style="margin-left: 8px;"
                           title="Excluir Registro"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% elseif pagination is not null %}
        Nenhum resultado encontrado.
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/banco/index.js') }}"></script>
{% endblock %}