{% extends "base.html.twig" %}

{% block subtitle %}
    Consultar Retornos de Pagamento
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        <a href="{{ path('arquivo_retorno_pagamento_recepcionar_arquivo') }}" class="btn btn-primary">Novo retorno</a>
    {{ form_end(form) }}
    
    {% if pagination != null and pagination.count() > 0 %}
    <hr>
    
    <table class="table table-striped margin-top-10">
        <tr>        
            <th>{{ knp_pagination_sortable(pagination, 'Referência', 'fp.nuAno') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Tipo de Folha', 'fp.tpFolhaPagamento') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Arquivo', 'rp.noArquivoOriginal') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Qtde. Recepcionada', 'rp.qtParticipante') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Qtde. de Créditos realizados', 'rp.qtParticipantePago') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Qtde. de Créditos não realizados', 'rp.qtParticipanteNaoPago') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Data de recepção', 'rp.dtInclusao') }}</th>
            <th>Ação</th>
        </tr>
        
        {% for rp in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ rp.folhaPagamento.nuMes ~ '/' ~ rp.folhaPagamento.nuAno }}</td>
            <td>{{ rp.folhaPagamento.tpFolhaPagamento == constant('\\App\\Entity\\FolhaPagamento::MENSAL') ? 'Mensal' : 'Suplementar' }}</td>
            <td>{{ rp.noArquivoOriginal }}</td>
            <td>{{ rp.qtParticipante }}</td>
            <td>{{ rp.qtParticipantePago }}</td>
            <td>{{ rp.qtParticipanteNaoPago }}</td>
            <td>{{ rp.dtInclusao|date('d/m/Y') }}</td>
            <td>
                <a href="{{ asset('uploads/' ~ rp.noArquivoUpload) }}" download="{{ asset('uploads/' ~ rp.noArquivoUpload) }}" class="glyphicon glyphicon-download-alt" target="_blank" title="Baixar Arquivo de Retorno"></a> 
                <a href="{{ path('arquivo_retorno_pagamento_report', { retornoPagamento : rp.coSeqRetornoPagamento }) }}" class="glyphicon glyphicon-list-alt" title="Imprimir relatório do Retorno de Pagamento."></a>
                <a class="glyphicon glyphicon-trash btn-remove-retorno cursor-pointer" data-id="{{ rp.coSeqRetornoPagamento }}" title="Excluir registro."></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>    
    {% elseif pagination != null and pagination.count() == 0 %}
        <hr>
        Nenhum registro encontrado.
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/arquivo_retorno_pagamento/index.js') }}"></script>
{% endblock %}