<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <ul style="list-style: none; width: 700px; margin: 0;">
            <li style="clear:both;">
                <label style="float: left; width: 120px;">
                    <strong>Solicitante:</strong>
                </label>
                {{ faleConosco.getNoPessoa() }}
            </li>
            <li style="clear:both;">
                <label style="float: left; width: 120px;">
                    <strong>E-mail:</strong>
                </label>
                {{ faleConosco.getDsEmail() }}
            </li>
            <li style="clear:both;">
                <label style="float: left; width: 120px;">
                    <strong>Assunto:</strong>
                </label>
                {{ faleConosco.getAssuntoCompleto() }}
            </li>
            <li style="clear:both;">
                <label style="float: left; width: 120px;">
                    <strong>Mensagem:</strong>
                </label>
                {{ faleConosco.getDsMensagem() }}
            </li>
            <li style="clear:both;">
                <label style="float: left; width: 120px;">
                    <strong>Data e Hora:</strong>
                </label>
                {{ date|date('d/m/Y H:i:s') }}
            </li>
        </ul>
    </body>
</html>
<style type="text/css">
    * {
        font-family: sans-serif;
    }
</style>
